@import 'partials/_variables'; 
@import 'partials/_mixins'; 

.main-header {
  display: none;
}

@media only screen and (min-width: 768px) {
  .main-header {
    background-color: $secondary-color;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
    display: grid;
    height: 30rem;
    margin: 10rem 5rem;
    padding: 5rem;
    .profile {
      @include flex(column, center, center); 
      h2 {
        margin: 1rem; 
      }
    }
  }
}