.main-header { 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  padding: 125px;
  margin-top: 100px;
  background-color: $secondary-color;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  color: #ffffff;
}

// @media only screen and (min-width: 1024px) {
//   .main-header {
//     height: 10em; 
//     width: 50%;  
//   }
// }
