@import 'partials/_variables'; 
@import 'partials/_mixins'; 

// ITS THE GRID MACKENZIE 
nav {
  @include grid(); 
  color: white;
  background-color: $secondary-color;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 1rem; 
  .profile {
    @include flex(column, center, center);
    grid-area: 2 / 1 / 2 / 3; 
  }
  img {
    height: 5em;
    width: 5em; 
  }
}

.nav-button {
  @include flex (column, center, center);
  margin-left: auto; 
}

.logo {
  font-family: 'Bungee', cursive;
}

.fa-angle-double-down {
  color: red;
  margin-top: 10px;  
  animation: slide-top 1.5s ease-out infinite alternate both;
  cursor: pointer;  
  &:hover {
    transform: scale(1.1);
  }
}

 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@media only screen and (min-width: 768px) {
  nav {
    @include flex(row, space-between, center); 
    background-color: $main-color;
    position: fixed;
    top: 0;
    height: 7rem;
    padding: 1rem 3rem; 
    .profile {
      display: none;
    }
  }
}
