@import 'partials/_variables'; 
@import 'partials/_mixins'; 

.new-tweet {
  display: none; 
}

.new-tweet form {
 display: flex;
 flex-direction: column;
}
.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.new-tweet div button {
  background-color: #4056a1;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.35em;
  font-family: "Bungee", cursive;
  font-size: 18px;
}

.counter {
  font-family: "Bungee", cursive;
  font-size: 18px;
}

#tweet-text {
  background-color: $light-color;
  border: none;
  border-bottom: $border;
  color: $main-color;
  height: 2em;
  resize: none;
}

.new-tweet h2 {
  margin: 1em 0;
}

label[for="tweet-text"] {
  font-weight: 600;
}