@import 'partials/_variables'; 
@import 'partials/_mixins'; 


#tweets-container {
  margin: 2rem auto;
}

article {
  border: $border;
  margin: 1.5em 0;
}

article header,
article footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0.75em;
}

article footer {
  align-items: center;
  border-top: $border;
  font-size: 12px;
  font-weight: 400;
  padding: 0.5em 1.25em;
}

.old-tweet-text {
  font-weight: 400;
  margin: 0.5em 0.75em 1em 0.75em;
  word-wrap: break-word;
}

.tweet-username {
  visibility: hidden;
}

article:hover {
  box-shadow: 10px 10px 0px 0px rgba(197, 203, 227, 1);
}

article:hover .tweet-username {
  color: rgba(197, 203, 227, 1);
  font-weight: 400;
  visibility: visible;
}

.user-tweet-info {
  @include flex(row, space-between, center); 
}

.user-tweet-info img {
  max-height: 70%;
}

.fa {
  color: $main-color;
  cursor: pointer;  
  margin: 3px; 
}

.fa:hover {
  transform: scale(1.1); 
}