article {
  margin: 1.5em 0; 
  border: $border; 
}

article header, 
article footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0.75em; 
}

article footer {
  align-items: center;
  padding: 0.5em 1.25em; 
  font-size: 12px;
  font-weight: 400;
  border-top: $border; 
}

.old-tweet-text {
  margin: 0.5em 0.75em 1em 0.75em; 
  font-weight: 400;  
}

.tweet-username {
  visibility: hidden;
}

article:hover {
  box-shadow: 10px 10px 0px 0px rgba(197,203,227,1);
}

article:hover .tweet-username {
  visibility: visible;
  font-weight: 400;
  color: rgba(197,203,227,1); 
}

.user-tweet-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-tweet-info img {
  max-height: 70%; 
}

.fa {
  margin: 3px; 
  color: $main-color;
  cursor: pointer;  
}

.fa:hover {
  transform: scale(1.1); 
}