@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($columns: 1fr 1fr, $rGap: 0, $cGap: 0) {
  display: grid;
  grid-template-columns: $columns;
  grid-row-gap: $rGap;
  grid-column-gap: $cGap; 
}

@mixin spacing(
  $vertical-m: 0,
  $horizontal-m: 5%,
  $vertical-p: 0,
  $horizonal-p: 0
) {
  margin: $vertical-m $horizontal-m;
  padding: $vertical-p $horizonal-p;
}